{% extends 'base.html' %}

{% block title%}
<a href="/"><<--Homepage</a>
<h3>{{pet_name}}</h3>
{% endblock %}

{% block content%}
<img src="{{pet_image}}" alt="" width="200px">
<ul>
    <li>Age: {{pet_age}}</li>
    <li>Species: {{pet_species}}</li>
</ul>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
    {% endfor %}

    <button type="submit">Submit</button>

</form>
{% endblock %}